# ----------------------------------------------
# Dateiname und Größe des SD-Karten-Images in MB
# ----------------------------------------------
#
# IMAGE_SIZE ist die Gesamtgröße der Datei in MB.
# BOOT_SIZE ist die Größe der Bootpartition.
# Die Wurzelpartition bekommt den restlichen Platz.

IMAGE_FILE="${BUILD_DIR}/sdcard.img"
IMAGE_SIZE=850
BOOT_SIZE=64


# ------------------------
# Zu installierende Pakete
# ------------------------

DEB_MIRROR=http://mirrordirector.raspbian.org/raspbian/
DEB_VERSION=stable
DEB_OPTIONS=

PACKAGES=
PACKAGES="${PACKAGES} mtd-utils console-data console-common locales keyboard-configuration sudo usbmount psmisc"
PACKAGES="${PACKAGES} wpasupplicant openssh-server"

#PACKAGES="${PACKAGES} __weitere_pakete_hier_einfügen__"
