[Unit]
Description=Pythonprogramm für eine einfache Einparkhilfe
After=network.target

[Service]
ExecStart=/usr/bin/xinit /opt/einparkhilfe/start.sh

[Install]
WantedBy=multi-user.target
