[Unit]
Description = .... LED-Laufschrift ....
RequiresMountFor=/home

[Service]
type=simple
WorkinDirectory=#INSTALL_DIR#/src
ExecStart=#INSTALL_DIR#/env/bin/python3 #INSTALL_DIR#/src/ledmsgbar.py
User=pi

[Install]
WantedBy=default.target
